table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .td {}

  .td:hover { 
       
   }
   
   .td:hover + td { 
   }

   .row{
     background-color: #fff;
     border: 1px #ccc ;
     font-size: 13pt;

   }

   .container {
    text-align: left;
    left: 0;
    right: 0;
    background-color: black;
    padding-left: 3%;
   } 

.title{
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}


.sub-title{
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
  
 