 
 
<div class="container">
    <div class="main">
      <h1 class="title">
        HN FEED
      </h1>
      <p class="sub-title">We <3 hacker news</p>
    </div>
  
  </div>

<table>
    <tbody *ngIf="!isLoadingResults && data.length>0">
        <ng-container *ngFor="let item of data; let i = index">
             
            <tr  *ngIf="item.title || item.story_title" >
                <td> <a href="{{item.story_url}}" target="_blank">{{item.story_title? item.story_title:item.title  }} - {{item.author}}</a>
                </td>
                <td>{{formatAMPM(item.created_at)}}</td> 
                <td (click)="updateStatus(item.objectID)" class="td"><i class="fa fa-trash-o"></i></td> 
              </tr>
        </ng-container>
        </tbody>
  
</table>
 